AUTH_SECRET=pkf3MNMqDRiVeOJAVOj+bIHgJXJq/d2il4Pc6eKfUGo=
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://192.168.0.105:5555/api"
NEXT_PUBLIC_IMAGE_URL='http://192.168.0.105:5555/uploads'